# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# local env files
.env*.local

# Large build artifacts that exceed GitHub's 100MB limit
**/build/intermediates/
**/Pods/ReactNativeDependencies-artifacts/
